.modal-dialog.modal-lg
  .modal-content
    .modal-header.text-center
      .bold.text-blue
        = "Delayed Job #{@delayed_job.id}"
        %a.close{data: {dismiss: 'modal'}} x
        
    .modal-body
      %fieldset
        %legend Job Type
        = @delayed_job.handler

      %fieldset
        %legend Error Info
        = @delayed_job.last_error